/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@400;700&display=swap');

/* set default properties for all elemets */
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}