/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@400;700&display=swap');

/* set default properties for all elemets */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */
#logo {
    float: left;
    width: 115px;
    height: 80px;
}

/* navigation links */
#menu-outer {
    float: right;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

/* align logo and menu links horizontaly */
#menu,
#logo {
    line-height: 75px;
}

#menu>li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #888686;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* style the links to provide a better visibility of where the viewers are in the webpage */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#cover-text {
    color: #fff;
}

/* set the hero image to stay below the header and equal sizes for image and container */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;

    /* apply animation to hero-image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create soom for hero image with an animation*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 2px;

    width: 500px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background: linear-gradient(rgb(15 15 15), rgb(13 13 13 / 60%));

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#cover-text>h3 {
    text-align: right;
    padding-right: 10px;
}