/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@400;700&display=swap');

/* set default properties for all elemets */
* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

#logo {
    float: left;
    width: 115px;
    height: 80px;
    margin-left: 30px;
}

/* navigation links */
#menu-outer {
    float: right;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

/* align logo and menu links horizontaly */
#menu,
#logo {
    line-height: 75px;
}

#menu>li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #888686;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* style the links to provide a better visibility of where the viewers are in the webpage */
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#cover-text {
    color: #fff;
}

/* set the hero image to stay below the header and equal sizes for image and container */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;

    /* apply animation to hero-image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create soom for hero image with an animation*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 2px;
    width: 1000px;
    height: 200px;
    padding-top: 40px;
    padding-left: 40px;
    background: linear-gradient(rgb(15 15 15), rgb(13 13 13 / 60%));
    bottom: 55px;
    right: 437px;
    border-radius: 15px;
    position: absolute;
}

#cover-text>h3 {
    text-align: right;
    padding-right: 10px;
}

/* info */

#info-outer {
    height: 600px;
    width: 100%;
    text-align: center;
    margin-top: 225px;
}

#info-left,
#info-right {
    width: 50%;
    height: auto;
    display: table-cell;
}

#info-left>h1 {
    font-size: 590%;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #888686;
    letter-spacing: 10px;
    text-align: left;
    margin-left: 80px;
}

#info-right-header {
    font-size: x-large;
    text-align: left;
    text-shadow: 1px 1px 2px #888686;
    padding: 20px;
    margin-left: 20px;
}

#info-right-text {
    padding: 0px 10px 10px 120px;
    letter-spacing: 5px;
    line-height: 45px;
    text-shadow: 1px 1px 2px #888686;
    margin-left: 20px;
}

#info-right-text li {
    list-style-type: none;
    text-align: left;
    font-size: x-large;
}

/* portifolio */

#portifolio {
    height: 600px;
    width: 100%;
    text-align: center;
    position: relative;
}

#portifolio-header {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #888686;
    font-weight: 300;
    font-size: 400%;
    text-align: center;
    margin: 50px 0;
}

/* wrap project elements to set alignment */
#projects-outer {
    height: 600px;
    width: 80%;
    display: inline-block;
}

/* define position of projects within the outer div */
.projects {
    width: 20%;
    padding: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

/* project's thumbnail definition */
.projects-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

/* skills */

#skills {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-bottom: 120px;
}

#skills-header {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #888686;
    font-weight: 300;
    font-size: 400%;
    text-align: center;
    margin: 50px 0 10px 0;
}

.tools-icons {
    display: inline-block;
}

.tools-icons img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 30px;
}

/* footer */

footer {
    height: 100px;
    width: 100%;
    text-align: center;
}

#footer-outer {
    height: 100px;
    width: 100%;
    background-color: #faf8f8;
}

#footer-left,
#footer-center,
#footer-right {
    width: 33%;
    display: inline-block;
}

.footer-item {
    margin-top: 20px;
}

.contact-details {
    text-align: center;
}

.contact-details>li {
    display: inline-block;
}

.contact-details i {
    font-size: 200%;
    color: #3a3a3a;
    letter-spacing: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 200%;
    color: #3a3a3a;
    letter-spacing: 50px;
}

/* Media queries */

/* For larger to medium screen sizes up to 1200px wide */

@media screen and (max-width: 1200px) {

    #info {
        width: 90%;
        height: auto;
    }

    #info-outer {
        width: 90%;
        height: auto;
        margin: 40px auto 40px auto;
        padding: 0;
    }

    #info-left {
        width: 50%;
        height: auto;
        display: inline-block;
        padding: 0;
    }

    #info-left>h1 {
        font-size: 200%;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #888686;
        letter-spacing: 10px;
        text-align: center;
        margin: 10px 0 10px 0;
        padding: 0;
    }

    #info-right {
        width: 50%;
        height: auto;
        display: inline-block;
        padding: 0;
        margin: 10px 0 10px 0;
    }

    #info-right-header {
        font-size: medium;
        text-align: left;
        text-shadow: 1px 1px 2px #888686;
        padding: 5px;
        margin: 10px 0 10px 0;
    }

    #info-right-text {
        padding: 0;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px #888686;
        margin: 10px 0 0 70px;
    }

    #info-right-text li {
        list-style-type: none;
        text-align: left;
        font-size: medium;
    }


}